.main {
    display: flex;               
    flex-direction: row;         
    justify-content: center;     
    align-items: center;         
    background-color: var(--standar-yellow);
    gap: 1rem;                   
}

.logo{
    position: relative;
}

.dev{
    color: var(--strong-blue);
    align-items: left;
    margin-top:3rem;
}

.buttonsDev {
    display: flex;
    justify-content: flex-end; 
    gap: 1rem;
    padding-top:1rem; 
}

.logo img{
    width: 10rem;
    margin: 3rem;
    height: auto;
}

.web {
    display: flex;
    justify-content: center; 
    gap: 1rem;
}

.contate{
    color: var(--strong-blue);
    padding: 3rem;
}

@media (max-width: 1150px) {
    .main {           
        flex-direction: column;                
    }

    .buttonsDev {
        display: flex;
        justify-content: center; 
        margin-bottom: 3rem;
    }

    .contate{
        color: var(--strong-blue);
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .dev{
        color: var(--strong-blue);
        align-items: left;
        margin-top:1rem;
    }

}

