.informations {
  display: flex;
  gap: 3rem;
  justify-content: flex-start; 
  align-items: flex-start; 
  flex-direction: column;
}

.buttonClick{
    position: absolute;
    top: 80%;    
    left: 50%; 
    z-index: 10;
}

.principal{
    display: flex;
    position: relative;
}

.imageFamily {
  position: relative;
  height: 45rem;
  width: auto;
}

.imageFamily img {
  position: absolute;
  top: 0;     
  right: 0; 
  height: 100%;
  width: auto;
  object-fit: contain;
}

.infoImageWrapper{
    flex-direction: row; 
    display: flex;
    gap: 39rem;
}

.informations h1 {
    width: 45rem;
    font-size: 3.4rem;
    margin-left: 6rem;
    font-weight: bold;
    text-align: left;
    font-family: lato;
    color: var(--black);
}

.informations strong {
    font-family: lato;
    color: var(--strong-blue);
}

.informations span  {
    width: 35rem;
    font-size: 1.8rem;
    margin-left: 6rem;
    text-align: left;
    color: var(--strong-blue);
}

.logoImage{
    margin-top: 3rem;
    margin-left: 6rem;
    width: 10rem;
    height: auto;
}