.informations {
  display: flex;
  margin-left: 8rem;
  gap: 4rem;
  justify-content: flex-start; 
  align-items: flex-start; 
  flex-direction: column;
}

.buttonClick{
    transition: transform 0.3s ease;
    margin-top: 5%;
    width: 40%;
    margin-left: 25%;
    z-index: 10;
    padding-bottom: 2%;
}

.buttonClick:hover {
  transform: scale(1.1);
}

.principal{
    position: relative;
    min-height: 45rem;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction: column;
}

.imageFamily {
  position: absolute;
  top: 0;
  right: 0;
  height: 45rem;
  z-index: 1;
  object-fit: cover;
}

.imageFamily img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.infoImageWrapper{
    position: relative;
    flex-direction: row; 
    display: flex;
    flex-wrap: wrap;
}

.informations h1 {
    margin-top: 8rem;
    width: 56%;
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: var(--strong-blue);
}

.informations strong {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: var(--strong-blue);
}

.informations span  {
    width: 40%;
    font-size: 1.3rem;
    text-align: left;
    font-weight: 400;
    color: var(--black);
}

.logoImage{
    margin-top: 6rem;
    width: 10rem;
    height: auto;
}

@media (max-width: 1150px) {

    .logoImage{
      margin-top: 4rem;
      width: 10rem;
      height: auto;
  }

    .imageFamily {
      margin-top: -16%;
      position: relative;
      top: 0rem;
      width: 100vw;
      height: 50%;
      overflow: hidden;
      display: block;
      z-index: 1;
    }

    .imageFamily::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none; 
      background: linear-gradient(to bottom, white 0%, transparent 70%);
    }

    .imageFamily picture {
    display: block;
  }

    .imageFamily img{
      display: block;
      width: 100%;
      height: auto; 
      max-height: 50vh;
      object-fit: cover;
    }

    .informations {
      width: 100%;
      margin-left: 0%;
      gap: 2rem;
      align-items: center;
    }

    .principal {
        min-height: 0;
    }

   .buttonClick{
        margin-left: 0%;
        padding-bottom: 16%;
    }

    .informations h1 {
        margin-top: 4rem;
        font-size: 1.5rem;
        width: 70%;
    }

    .informations span  {
        font-size: 1em;
        width: 70%;
    }

    .buttonClick{
        width: 70%;
    }
}