.informations {
  display: flex;
  margin-left: 8rem;
  gap: 3rem;
  justify-content: flex-start; 
  align-items: flex-start; 
  flex-direction: column;
}

.buttonClick{
    width: 40%;
    margin-left: 25%;
    z-index: 10;
    padding-bottom: 2%;
}

.principal{
    position: relative;
    min-height: 45rem;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction: column;
}

.imageFamily {
  position: absolute;
  top: 0;
  right: 0;
  height: 45rem;
  z-index: 1;
}

.imageFamily img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.infoImageWrapper{
    position: relative;
    flex-direction: row; 
    display: flex;
    flex-wrap: wrap;
}

.informations h1 {
    width: 40%;
    font-size: 2.7rem;
    font-weight: 600;
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: var(--black);
}

.informations strong {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: var(--strong-blue);
}

.informations span  {
    width: 35%;
    font-size: 1.3rem;
    text-align: left;
    font-weight: 600;
    color: var(--strong-blue);
}

.logoImage{
    margin-top: 6rem;
    width: 10rem;
    height: auto;
}

@media (max-width: 1150px) {
  .imageFamily img {
    display: none; 
  }

  .informations {
    margin-left: 0%;
    align-items: center;
  }

    .principal {
        min-height: 0;
    }

   .buttonClick{
        margin-left: 0%;
        padding-bottom: 16%;
    }

    .informations h1 {
        font-size: 2rem;
        width: 60%;
    }

    .informations span  {
        font-size: 1rem;
        width: 60%;
    }

    .buttonClick{

        width: 60%;
    }
}